<!Doctype html>
<html>
    <head>
        <title>About Us </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <style>
            *{
                margin:0px;
                padding:0px;
                box-sizing: border-box;
                font-family:'poppins',sans-serif;
            }
            .section{
                width:100%;
            }
            .section.container{
                width:80%;
                display:block;
                margin:0px auto;
                padding:50 px 0px;
            }
            .container .title{
                width:100%;
                text-align: center;
                margin-bottom: 50px;
            }
            .container .title h1{
                text-transform: uppercase;
                font-size:35px;
                color:#88941e;
            }
            .container .title h1 ::after{
                content:"";
                height:5px;
                width:100px;
                background-color: #c4d156;
                border-radius:25px;
                display:block;
                margin:auto
            }
            .content{
                float:left;
                width:55%;
            }
            .image-section{
                float:right;
                width:40%;
            }
            .image-section img{
                width:100%;
                height:auto;
            }
            .content .article h3{
                color:#A52A2A;
                font-size:22px;
                font-style: italic;
            }
            .content .article p{
                margin-top:20px;
                font-size:16px;
                line-height:1.5;
                color:#333;
            }
            .container .social{
                width:100%;
                clear:both;
                margin-top: 50px;
                text-align:center;
                display:inline-block;
            }
            .container .social i{
                color:#fff;
                font-size:22px;
                height:45px;
                width:45px;
                border-radius: 50%;
                line-height: 45px;
                text-align:center;
                background-color:#f28f92;
                margin:0px 5px;
            }
            .container .social i:hover{
                color:#fff;
                background-color:#88941e;
                transition:1s ease;
                transform: rotate(360deg);

            }
            @media screen and(max-width:768px){
                .container{
                    width:80%;
                    display: block;
                    margin:auto;
                }
                .content{
                    float:none;
                    width:100%;
                    display:block;
                    margin:auto;
                }
                .image-section{
                    float:none;
                    width:100%;
                    margin-top:50px;
                }
                .image-section img{
                    width:100%;
                    height:auto;
                    display:block;
                    margin:auto;
                }
                .container.title h1{
                    text-align:center;
                    font-size:30px;
                }
                .container .social i{
                    font-size:19px;
                    height:35px;
                    width:35px;
                    line-height:35px;

                }
            }
        </style>

    </head>
    <body>
        <div class="section">
            <div class="container">
                <div class="title">
                    <h1>About us</h1>
                </div>
                <div class="content">
                    <div class="article">
                       <h3>Earthencity</h3> 
                    <i><p> seeds will germinate to plants.plants purify the air, ease tension and create a relaxed environment. To make your space healthy by growing plants, we have Flowering plants seeds,fruits and vegetables seeds Bonsai Plants. We also provide planting decor items.Earthencity is a platform for urban people to stay close to nature. Every city turning into a concrete jungle now, Earthencity offers unique solutions for every person with beautiful plants, pots & decorative knick-knacks to create your green patch. We strive to be the perfect Urban solution with our  products  keeping you in mind.</p></i>
                    </div>
                </div>
                <div class="image-section">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6DQwOroqMSG39pU_VahkTYEkRdti19APsA&usqp=CAU">
                </div>
                <div class="social">
                   
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    

                </div>
            </div>
        </div>
    </body>
</html>