<html>
<head>
    <style>
        body{
            background:linear-gradient(to bottom,maroon 50%, #fff 50%);
            color:maroon;
            padding:20px 150px 20px 150px;
        }
        #table{
            width:100%;
            text-align: center;
            position: relative;
            margin:auto;
            top:0;
            bottom:0;
            left:0;
            right:0;
            padding:0px;
        }
        table td{
            padding:20px;
        }
        
        .div1{
            background-color: #fff;
            padding:10px;
            border-radius: 20px;
            box-shadow: 0px 0px 15px 2px maroon;
            transition: 0.5s;
            font-size: 25px;
            font-style: italic;
            
        }
        .div1:hover{
            transform:scale(0.9);
            box-shadow:0px 0px 5px 7px maroon;
            transition: 0.3s;
        }
       
        
          .header{
              text-align: center;
              font-size:30px;
              color:#fff;
              font-family:cursive;

          }
        
        
    </style>
</head>

<body>
    <table id="table">
        <tr>
            <td colspan="2">
                <div class="header"><i>CATEGORIES</i></div>
            </td>
        
        </tr>
        <tr>
            <td colspan="5">
            </td>
        </tr>
        <tr>
            <td>
                <div class="div1">
                    <img src="https://img.freepik.com/free-photo/healthy-vegetables-wooden-table_1150-38014.jpg?w=2000" height="250" width="350">
                    <a href='/shop'  style="color:black"><h3 style="color:black"><i>Vegetable Seeds</i></h3></a>                  
                   
                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://i.pinimg.com/564x/01/61/61/01616181e0122fa35b97026e8e5979fd.jpg"height="250" width="350">
                    <a href='/fruits'  style="color:black"><h3  style="color:black"><i>Fruit seeds</i></h3></a>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://cdn.pixabay.com/photo/2016/02/13/10/35/tulips-1197602_960_720.jpg"height="250" width="350">
                    <a href='/flowerseeds' style="color:black"><h3 style="color:black"><i>Flower Seeds</i></h3></a>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://i.pinimg.com/564x/a7/50/b7/a750b7ca5a3248bc9995a4b87ef09f74.jpg" height="250" width="350">
                    <a href='/decor'  style="color:black"><h3 style="color:black"><i>Home Decor</i></h3></a>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://i.pinimg.com/564x/7e/71/7e/7e717ed737e69486175ee7b0cfa2d99b.jpg" height="250" width="350">
                    <a href='/bonsai'  style="color:black"><h3 style="color:black"><i>Bonsai Plants</i></h3></a>
                <br /><br />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
       
    </table>
</body>

</html>