<html>
        <head>
            <title>Decor</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width" initial-scale=1>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        </head>
        <style>
            body{
                background:url("https://i.pinimg.com/236x/ac/ae/88/acae888c707b05e8da9fcc94dff79fd5.jpg");
         
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            div{
                color: black;
                text-align: center;
                font-family:cursive;
            }
            img{
                height: 150px;
                width: 200px;
                padding-bottom: 20px;
            }
            button{
                margin-top: 10px;
            }
        </style>
        <body>
            <div class="container mt-3">
                <div class="row" >
                  
                    <div class="col-lg-8"><h2 class="display-6" style="color:black;font-weight:500;"><i>Decor</i></h2></div>
                    
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTigSvnJ02T59KJ1-v40tIym6E2un89j-xliAvQ59iF0OueeRER4_Ml_XaoMpZjHs1HkyhewpIMrHnFJoig0XBcIqhEvImSxUY2K4SuLC8&usqp=CAE"/>
                        <b><br>5 tier plant stand pack</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="1500/-"><del><small>1899/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="5tier plant stand pack">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTIqwz5geOtpPVqxMftFicJly_KexkqH8nCHzv51dX-xJWoWq53wp4sooOxG7aSCScaUapskHl6Es2c4v8_1od31XHSsHs73zxcAhRvJJed&usqp=CAE"/>
                        <b><br>Flower pot stand</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="999/-"><del><small>1200/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Flower potstand">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQhmJ94dJSkX8xfGsBLOBYy-VADqbNN8G1kl80Qac7qGy_DVg1HVcXZf4afaZTGwabacXdnRQB3D2X3rD9kjPKoaVMkj7vT0HRjppxICj9M7ZW6bCBhOZEJ8A&usqp=CAE">
                        <b><br>Jaipur Indian summer printed Iron planter</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="1899/-"><del><small>2299/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Jaipur Indian summer printedIron Planter">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://i.pinimg.com/236x/6c/23/fb/6c23fbf8efe6213be883e7335aa0dadd.jpg">
                        <b><br>plant Hanger pot</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="799/-"><del><small>1000/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Plant Hanger pot">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSp7vxrKMtPFgXoxf3_0iKyDnf5K2-_P4RhztrFaGZ464FvbjmJF32T4zVn9TNFrS8IuiQNg1AYHzt0qm9uwWkl9edOyg19kLPD-xo7L7M&usqp=CAE">
                        <b><br>metal plant stand flower holders</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="1899/-"><del><small>2000/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="metal plant stand flower holders">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://i.pinimg.com/564x/e1/ff/65/e1ff659b0b13b3e92c4954b93a11c056.jpg" >
                        <b><br>5-tier Patio Flower Rack Plant Stands</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="1199/-"><del><small>1499/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="5-tier Patio Flower Rack Plant Stands">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://cdn.shopify.com/s/files/1/1306/4195/products/wallmantra-planter-wall-shelves-wooden-wall-hanging-planter-curve-shape-shelf-with-rope-3-layers-yellow-color-30130292261030_large.jpg?v=1628484607" >
                        <b><br>Hanging planters
                        </b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="1099/-"><del><small>1299/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Hanging planters">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://i.pinimg.com/564x/3b/9a/1f/3b9a1fb611862adb189b37ad3267a970.jpg">
                        <b><br>
                            Mkono Cement Succulent Planter Set of 7 Concrete Plant Pots Modern Flower Pots Indoor</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="1999/-"><del><small>2199/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="1 of 3,481 Mkono Cement Succulent Planter Set of 7 Concrete Plant Pots Modern Flower Pots Indoor">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://www.thespruce.com/thmb/Jx-h-UV1X14VF8CnLR0C8l4cHg0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/247079359_573210473888173_108754508325130804_n-93642c38a7294d15ae5e0e84ebb6c1de.jpg">
                        <b><br>Circular plant holder</b><br>
                        <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="2399/-"><del><small>2599/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Circular plant holder">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                    </div>
                   
                    
                </div><br><br>
                <form action="cart" method="GET">
					<center><input type="submit" class="btn btn-warning" style="width:30%;font-weight: bold; color: black;" value="GO TO CART"></center>
				</form><br><br>
                
            </div>
        </body>
</html>