<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>earthencity -to design your garden with beauty of plants by sowing seeds</title>
        <style>
        *{
            margin:0;
            padding:0;
        }
        .wrapper{
            width:1170px;
            margin:auto;
        }
        header{
            background:url("https://media.springernature.com/full/springer-cms/rest/v1/img/18893370/v1/height/320");
            height:100vh;
            background-size:cover;
            background-position:center center;
            position:relative;
        }
        .nav-area{
            float:right;
            font-size: 10px;
            list-style:none;
            margin-top:30px;
        }
        .nav-area li{
            display:inline-block;
        }
        .nav-area li a{
            color:#fff;
            text-decoration:none;
            padding:5px 20px;
            font-family:poppins;
            font-size:16px;
        }
        .nav-area li a:hover{
            background:#fff;
            color:#333;
        }
        .logo img{
            width:100px;
            float:left;
            height:auto;
        }
        .welcome-text{
            position:absolute;
            width:600px;
            height:300px;
            margin:20% 30%;
            text-align:center;
        }
        .welcome-text h1{
            text-align:center;
            color:#fff;
            text-transform:uppercase;
            font-size:60px;
        }
        welcome-text a{
            border:1px solid #fff;
            padding: 10px 25px;
            text-decoration:none;
            text-transform:uppercase;
            font-size:14px;
            margin-top:20px;
            display:inline-block;
            color:#fff;
        }
        .welcome-texta:hover{
            background:#fff;
            color:#333
        }
        </style>
    </head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="logo.png">
    
            </div>
            <ul class="nav-area">
                <li><a href='#'>About</a></li>
                <li><a href='/registration'>Register</a></li>
                <li><a href='/registration'>Login</a></li>
                <li><a href='#'>Contact</a></li>
            </ul>
        </div>
        <div class="welcome-text">
            <h1>Earthencity</h1>
            <a href="#">contact</a>
        </div>
    </header>
</body>
</html>