<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background: url(https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg);
        }
        .cen{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            height: 20%;
        }
        .b {
              background-color: white; 
              color: black; 
              border: 2px solid #008CBA;
              width: 100px;
              height: 50px;
              border-radius: 8px;
        }
        .b:hover {
              background-color: #008CBA;
              color: white;
        }
    </style>
</head>
<body>
    <section>
        <div class="container mt-5"><br><br>
            <img src="https://cdn.pixabay.com/photo/2014/03/24/17/21/wrong-295503__340.png" class="cen"><br>
            <h1 style="text-align: center; color: whitesmoke;">Invalid Login Credentials!!</h1><br>
            <h4 style="text-align: center; color: whitesmoke;">Please enter correct login credentials!</h4><br>
            <h4 style="text-align: center; color: whitesmoke;">Haven't created account ?</h4><br>
            <h5 style="text-align: center; color: whitesmoke;">For registration click on the "Register".</h5><br><br>
            <center><a href="/registration" style="text-align: inherit;"><button class="b" type="submit">Register</button></a></center>

        </div>
    </section>
</body>
</html>