<html>
    <head>
        <title>Vegetable Seeds</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" initial-scale=1>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
    <style>
        body{
            background:url("https://i.pinimg.com/236x/ac/ae/88/acae888c707b05e8da9fcc94dff79fd5.jpg");
            
    
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        div{
            color: black;
            text-align: center;
            font-family:cursive;
        }
        img{
            height: 150px;
            width: 200px;
            padding-bottom: 20px;
        }
        button{
            margin-top: 10px;
        }
    </style>
    <body>
        <div class="container mt-3">
            <div class="row" >
               
                <div class="col-lg-8"><h2 class="display-6" style="color:black;font-weight:500;"><i>Vegetable Seeds</i></h2></div>
               
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="https://m.media-amazon.com/images/I/71CcHUG0B0L._SL1500_.jpg"/>
                    <b><br>Spinach</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="30/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Spinach">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="https://www.bigbasket.com/media/uploads/p/xxl/40158953_1-national-gardens-ladies-finger-seeds.jpg" >
                    <b><br>LadysFinger</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="30/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="LadysFinger">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://www.agrowala.com/theme/images/product/img_1925801776_1495020339.jpg" >
                    <b><br>Brinjal</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="30/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Brinjal">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://cdn.shopify.com/s/files/1/0588/3294/5357/products/VNR-Julie-Tomato-Seeds-10-gm.jpg?v=1666086363">
                    <b><br>Tomato</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="30/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Tomato">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SR6tOoo6SQ07ZVGxv_iKK-f5rJPQaIv50w&usqp=CAU" >
                    <b><br>Cucumber</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="30/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Cucumber">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJicGG-RlBRJ3XHtDQXrtBY-XRS6b7BqoUjg&usqp=CAU" >
                    <b><br>Carrot</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="50/-"><del><small>100/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Carrot">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpfaXTFUwAfrL1kfIVgizwOihD11M9A6qERA&usqp=CAU" >
                    <b><br>Coriander Seeds</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="20/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Coriander">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNyhodCSxVUkGn6nHK9NxcQQJUmdK8TWDMUA&usqp=CAU">
                    <b><br>Fenugreek</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="20/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Fenugreek">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVDFyCWHFmQS9914WR04oJ-SYscIPJkZe2Jg&usqp=CAU">
                    <b><br>Bottlegourd</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="30/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Bottlegourd">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuGBgoiiUe62v6vud09kuZe5sy7QF30q9EtA&usqp=CAU" >
                    <b><br>Bittergourd</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="30/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Bittergourd">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIqr2KWgPwToZboXJ3UOMWdXAz_wsrtt6QNg&usqp=CAU">
                    <b><br>Capscicum</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="20/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Capscicum">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12"><img class="img roundbtn btn-successed" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI7OvW3DcbtkiFC03cqFeqDg-amy_MrOvRKQ&usqp=CAU">
                    <b><br>Chilli</b><br>
                    <form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="20/-"><del><small>50/-</small></del><br><button type="submit" class="btn btn-success" name="item" value="Chilli">ADD TO CART <i class="bi bi-cart4"></i></button></form>
                </div>
                
            </div><br><br>
            <form action="cart" method="GET">
                <center><input type="submit" class="btn btn-warning" style="width:30%;font-weight: bold; color: black;" value="GO TO CART"></center>
            </form><br><br>
            
        </div>
    </body>
</html>
